@import url(https://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
@font-face {
    font-family: 'fontello';
    src: url("https://www.wwu.edu/wwucommon/lite/font/fontello.eot?84055489");
    src: url("https://www.wwu.edu/wwucommon/lite/font/fontello.eot?84055489#iefix") format("embedded-opentype"), url("https://www.wwu.edu/wwucommon/lite/font/fontello.woff?84055489") format("woff"), url("https://www.wwu.edu/wwucommon/lite/font/fontello.ttf?84055489") format("truetype"), url("https://www.wwu.edu/wwucommon/lite/font/fontello.svg?84055489#fontello") format("svg");
    font-weight: normal;
    font-style: normal
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1em;
    outline: none
}
code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
    font: inherit;
    font-size: 1em
}
pre.prettyprint {
    color: #903;
    font-family: Courier, monospace;
    margin-bottom: .8em
}
dfn,
i,
cite,
var,
address,
em {
    font-style: normal
}
th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
/*
a,
a:link,
a:visited {
    font-weight: normal
}
a,
a:link,
a:visited,
img,
a img,
a:link img,
a:visited img,
*/
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
    border: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td,
center {
    text-align: left;
    vertical-align: top
}
body {
    line-height: 1;
    background: white;
    color: black;
   -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
q {
    quotes: "" ""
}
ul,
ol,
dir,
menu {
    list-style: none
}
sub,
sup {
    vertical-align: baseline
}
a,
a:link,
a:visited {
    color: inherit
}
font {
    color: inherit !important;
    font: inherit !important;
    color: inherit !important
}
marquee {
    overflow: inherit !important;
    -moz-binding: none
}
blink {
    text-decoration: none
}
nobr {
    white-space: normal
}
.style-underline {
    border-bottom: solid 1px #006b3f
}
.layout-clear,
.clearfix,
.clear,
.end {
    clear: both
}
.layout-clear-left,
.clear-left {
    clear: left
}
.layout-clear-right,
.clear-right {
    clear: right
}
header[role="banner"] {
    background-color: white;
    padding: 1em 0;
    margin-bottom: 1em;
    line-height: 2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}
header[role="banner"] .western-logo {
    background-color: #003f87;
    background-repeat: no-repeat
}
header[role="banner"] .western-logo a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent
}
header[role="banner"] .site-name {
    font-family: Avenir, muli, verdana, arial, helvetica, geneva, sans-serif;
    color: white
}
.nav-button {
    display: none
}
.western-search-widget {
    -webkit-box-shadow: #333 0 0 8px;
    -moz-box-shadow: #333 0 0 8px;
    box-shadow: #333 0 0 8px;
    background: #fff;
    padding: 0;
    display: block;
    height: 6.5em;
    width: 29.25em;
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif
}
.western-search-widget .western-search-terms,
.western-search-widget .western-search-type-toggle {
    margin: 7px 0 0 1em
}
.western-search-widget .western-search-terms label {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent
}
.western-search-widget .western-search-terms input {
    font-size: 1.4em;
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #bad80a;
    padding: .25em 0 .1em 0
}
.western-search-widget .western-search-type-toggle input[type="checkbox"] {
    height: 12px;
    width: 12px
}
.western-search-widget .western-search-type-toggle label {
    color: gray;
    font-size: 1em;
    font-weight: normal
}
.western-search-widget input[type="submit"] {
    background-color: #0070b6;
    color: #fff;
    margin: 0;
    padding: 0 1em;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 1.4em;
    cursor: pointer
}
footer {
    display: block;
    background-color: #003f87;
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    min-height: 1em
}
footer div {
    max-width: 1060px;
    display: block;
    margin: 0 auto
}
subfooter div {
    max-width: 1060px;
    display: block;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em
}
subfooter p,
footer p {
    font-size: 1.3em;
    color: #bbb;
    padding: 0 2em
}
subfooter footer .contact {
    float: left;
    margin-top: -.25em
}
subfooter footer .contact a:hover,
subfooter footer .contact a:focus,
subfooter footer .contact a:active {
    color: #bad80a
}
subfooter .page-last-updated,
footer .feedback {
    float: right
}
subfooter .page-last-updated a:hover,
subfooter .page-last-updated a:focus,
subfooter .page-last-updated a:active,
footer .feedback a:hover,
footer .feedback a:focus,
footer .feedback a:active {
    color: #bad80a
}
subfooter .western-copyright {
    margin-top: -.25em
}
footer p,
footer p a:link,
footer p a:visited {
    font-size: 1.3em;
    color: #bbb
}
body {
    background-color: #e9e9e9;
    border-top: solid 5px #0083d6;
    font-family: verdana, arial, helvetica, geneva, sans-serif;
    font-size: 62.5%;
    color: #111
}
.zen-wrapper {
    *position: relative;
    *zoom: 1;
    max-width: 1060px;
    margin: 0 auto
}
.zen-wrapper:before,
.zen-wrapper:after {
    content: "";
    display: table
}
.zen-wrapper:after {
    clear: both
}
.body-wrapper {
    background-color: white;
    margin-bottom: 1em;
    line-height: 2em
}
header[role="banner"],
.body-wrapper {
    clear: left
}
a,
a:link,
a:visited {
    color: #0070b6;
    cursor: pointer;
    -webkit-transition: 0.33s color;
    -moz-transition: 0.33s color;
    -o-transition: 0.33s color;
    transition: 0.33s color
}
a:hover,
a:focus,
a:active {
    color: #003f87;
    -webkit-transition: 0.1s color;
    -moz-transition: 0.1s color;
    -o-transition: 0.1s color;
    transition: 0.1s color
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    color: #003f87
}
h1 {
    font-size: 3em;
    margin: 0em 0 -.4em 0;
    line-height: 140%;
    padding: 0 0 1em 0
}
h2 {
    font-size: 2.5em;
    margin: -0.65em 3 0 0;
    line-height: 140%;
    padding: .5em 0 .8em 0
}
h3 {
    font-size: 2em;
    margin: 0 0 .5em 0;
    line-height: 1.5em
}
h4 {
    font-size: 1.75em;
    margin: 2em 0 1em 0
}
h5 {
    font-size: 1.5em;
    margin: 1em 0 0 0
}
h6 {
    font-size: 1.25em;
    margin: 0;
    font-style: italic
}
main {
    font-size: 1em
}
main p {
    font-size: 1.6em;
    line-height: 1.4em;
    margin-bottom: 1em
}
main p:last-child {
    margin-bottom: .8em
}
main ol,
main ul {
    font-size: 1.6rem;
    font-size: 16px;
    margin-bottom: .8em;
    padding-left: 2rem
}
main ul {
    list-style: none outside none
}
main ul {
    font-size: 1.6em;
    list-style: none outside none
}
main ol li,
main ul li {
    line-height: 1.5rem
}
main ul li {
    background: url("https://www.wwu.edu/wwucommon/lite/images/red_square.png") 0 6px no-repeat;
    padding: 0 0 0 15px
}
main ol {
    counter-reset: li;
    margin-left: 0;
    padding-left: 0
}
main ol>li {
    position: relative;
    margin: 0 0 6px 2em;
    padding: 4px 8px;
    list-style: none;
    background: #f6f6f6
}
main ol>li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #666;
    color: #fff;
    background: #666;
    font-weight: bold;
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    text-align: center
}
main li ol,
main li ul {
    margin-top: 6px
}
main ol ol li:last-child {
    margin-bottom: 0
}
dt {
    font-weight: bold;
    width: 28%;
    float: left
}
dt,
dd {
    font-size: 1.6em
}
dd {
    font-style: italic;
    padding-bottom: 2em
}
em {
    font-style: italic
}
i {
    font-style: italic
}
b {
    font-weight: bold
}
strong {
    font-weight: bold
}
figcaption {
    font-size: 1.3em;
    font-size: 13px
}
blockquote {
    margin: 1em auto
}
blockquote:before {
    float: left;
    position: relative;
    top: 15px;
    left: -1em;
    font-family: baskerville, garamond, georgia, serif;
    font-size: 9em;
    line-height: 2em;
    margin-right: -.5em;
    color: #fff
}
blockquote:after {
    float: right;
    position: relative;
    bottom: -.5em;
    right: -.5em;
    font-family: baskerville, garamond, georgia, serif;
    font-size: 9em;
    line-height: 2em;
    margin-right: -.5em;
    color: #fff
}
blockquote cite {
    font-size: 1.3em;
    font-style: italic
}
blockquote cite:before {
    content: "\2014"
}
.centered {
    display: block;
    margin: auto;
    text-align: center;
    padding: .5em 0;
    margin-bottom: 2em
}
.left {
    float: left
}
.right {
    float: right
}
.clear-left {
    clear: left
}
.clear-right {
    clear: right
}
.end {
    clear: both
}
.hide {
    display: none
}
div.right p,
div.left p {
    text-align: center;
    color: #666;
    font-style: italic;
    font-size: .8em
}
div.right img {
    margin: 0 0 0 10px
}
div.left img {
    margin: 0 10px 0 0
}
table.table-flex {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.35em;
    word-break: break-all
}
table.table-flex tr:nth-of-type(odd) {
    background: #e9e9e9
}
table.table-flex th {
    background: #003f87;
    color: white;
    hyphens: none
}
table.table-flex td,
th {
    padding: 6px;
    border: 1px solid #ccc
}
figure,
.fig-left {
    position: relative;
    margin: 1.5em 0;
    display: block;
    max-width: 300px;
    text-align: center;
    float: left;
    padding-left: 0em;
    padding-right: 2em
}
.fig-right {
    position: relative;
    margin: 1.5em 0;
    display: block;
    max-width: 300px;
    text-align: center;
    float: right;
    padding-left: 2em;
    padding-right: 0em
}
figure img {
    border-top: 1px dotted #003f87;
    max-width: 300px
}
figcaption {
    margin: .75em 0;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
    display: block;
    font-size: 1.3em;
    border-bottom: 1px dotted #003f87;
    padding-bottom: 1em
}
.main-nav {
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    line-height: 3em
}
.main-nav li {
    -webkit-transition: 0.33s color;
    -moz-transition: 0.33s color;
    -o-transition: 0.33s color;
    transition: 0.33s color;
    width: 100%;
    font-size: 1.5em
}
.main-nav li li,
.main-nav li li li {
    font-size: 1em
}
.main-nav .site-nav a {
    -webkit-transition: 0.33s color;
    -moz-transition: 0.33s color;
    -o-transition: 0.33s color;
    transition: 0.33s color;
    color: #003f87;
    border-bottom: solid 1px #fff;
    display: block;
    width: auto;
    text-decoration: none;
    font-size: 1em;
    background-color: #cce6f7
}
.main-nav .site-nav a:hover {
    -webkit-transition: 0.1s color;
    -moz-transition: 0.1s color;
    -o-transition: 0.1s color;
    transition: 0.1s color;
    background-color: #f8f8f8
}
.main-nav .site-nav li {
    display: block
}
.main-nav .site-nav>li.is-closed:last-child>a,
.main-nav .site-nav>li:not(.is-accordion):last-child>a {
    border-bottom: none
}
.main-nav .site-nav ul a {
    background-color: #e2f1fa
}
.main-nav .site-nav ul ul a {
    background-color: #f4f9fd
}
.main-nav .is-accordion {
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #e2f1fa
}
.main-nav .is-accordion .is-accordion {
    background-color: #f4f9fd
}
.main-nav .is-open,
.main-nav .is-active-parent {
    background-image: url("https://www.wwu.edu/wwucommon/lite/images/accordion-minus-icon.png");
    cursor: n-resize;
    background-position: right;
}
.main-nav .is-closed {
    background-image: url("https://www.wwu.edu/wwucommon/lite/images/accordion-plus-icon.png");
    cursor: s-resize;
    background-position: right;
}
.main-nav .is-active:before {
    display: relative;
    content: '';
    float: left;
    margin-left: -2em;
    margin-top: -.3em;
    width: 1.6em;
    height: 1em;
    border-style: solid;
    border-width: 0em 0em 0em .3em;
    border-color: transparent transparent transparent #003f87
}
.main-nav .main-nav li a.is-active:before {
    margin-top: -.3em;
    height: 2em
}
main .is-accordion.is-closed:before,
main .is-accordion.is-open:before {
    color: #0083d6;
    font-size: 13px;
    margin-right: .75em;
    vertical-align: top
}
main .is-accordion {
    cursor: pointer
}
main .is-accordion.is-closed:before {
    content: "\25B6 "
}
main .is-accordion.is-open:before {
    content: "\25BC "
}
.call-out-box-right,
.call-out-box-left,
.call-out-box-center,
blockquote {
    background-color: #e2f1fa;
    padding: 2em
}
.call-out-box-right h1,
.call-out-box-right h2,
.call-out-box-right h3,
.call-out-box-right h4,
.call-out-box-right h5,
.call-out-box-right h6,
.call-out-box-left h1,
.call-out-box-left h2,
.call-out-box-left h3,
.call-out-box-left h4,
.call-out-box-left h5,
.call-out-box-left h6,
.call-out-box-center h1,
.call-out-box-center h2,
.call-out-box-center h3,
.call-out-box-center h4,
.call-out-box-center h5,
.call-out-box-center h6,
blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
    margin-top: 0
}
.call-out-box-right p:last-child,
.call-out-box-right ul:last-child,
.call-out-box-left p:last-child,
.call-out-box-left ul:last-child,
.call-out-box-center p:last-child,
.call-out-box-center ul:last-child,
blockquote p:last-child,
blockquote ul:last-child {
    margin-bottom: 0
}
.box,
aside[role="complementary"] {
    margin-top: 6em;
    background-color: #F7FBFD;
    padding: 10px
}
.box {
    width: 25%
}
.boxed {
    background-color: #E9E9E9
}
.call-out-box-right {
    float: right;
    max-width: 40%;
    margin: 1em 0 1em 1em
}
.call-out-box-left {
    float: left;
    max-width: 40%;
    margin: 1em 1em 1em 0
}
.call-out-box-center {
    margin: 1em auto;
    max-width: 60%
}
p aside.call-out-box-left,
p aside.call-out-box-right {
    font-size: 2em;
    width: 15%
}
.module-people-directory {
    margin-bottom: 2em
}
.module-people-directory ul li {
    margin-bottom: .1em
}
.module-people-directory img {
    float: left;
    margin: 0 1em .5em 0
}
.contact-info {
    list-style-image: none
}
.campus-building-map {
    width: 100%;
    height: 300px
}
.module-media-stream {
    font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    margin-bottom: 2em
}
.module-media-stream img,
.module-media-stream iframe,
.module-media-stream video {
    width: 100%
}
.module-media-stream figcaption {
    padding: 1em;
    background-color: #006b3f;
    color: #fff;
    display: block;
    margin-top: -.75em
}
.module-media-stream figcaption:before {
    content: "";
    position: absolute;
    margin-top: -24px;
    bottom: auto;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #006b3f transparent
}
.module-media-stream iframe ~ a figcaption:before,
.module-media-stream video ~ a figcaption:before,
.module-media-stream iframe ~ figcaption:before,
.module-media-stream video ~ figcaption:before {
    border: none
}
.quoted {
    background: #f9f9f9;
    margin: 1.5em 10px;
    padding: .5em;
    margin-top: 3em;
    font-size: 1.6em;
    line-height: 1.4em;
    color: #454545
}
.quoted:before {
    content: '\201C';
    float: left;
    padding-right: .1em
}
.quoted:after {
    content: '\201D';
    padding-right: .1em;
    float: right;
    margin-top: .5em
}
.quoted:before,
.quoted:after {
    font-family: Georgia, serif;
    color: #003f87;
    font-size: 6em
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none
}
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none
}
.flexslider {
    margin: 0;
    padding: 0
}
.flexslider ul li {
    background: none;
    padding: 0
}
.flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden
}
.flexslider .slides img {
    width: 100%;
    display: block
}
.flex-pauseplay span {
    text-transform: capitalize
}
.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
html[xmlns] .slides {
    display: block
}
* html .slides {
    height: 1%
}
.no-js .slides>li:first-child {
    display: block
}
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    zoom: 1;
    max-width: 500px;
    padding: 0 2em 0 0;
    float: left
}
.slideshow-small {
    max-width: 348px
}
.slideshow-medium {
    max-width: 368.5px
}
.slideshow-large {
    max-width: 765px
}
.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}
.loading .flex-viewport {
    max-height: 300px
}
.flexslider .slides {
    zoom: 1
}
.carousel li {
    margin-right: 5px
}
.flex-direction-nav {
    *height: 0
}
.flex-direction-nav a {
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}
.flex-direction-nav .flex-prev {
    left: -50px
}
.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right
}
.flexslider:hover .flex-prev {
    opacity: 0.7;
    left: 10px
}
.flexslider:hover .flex-next {
    opacity: 0.7;
    right: 10px
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1
}
.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default
}
.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001'
}
.flex-direction-nav a.flex-next:before {
    content: '\f002'
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline
}
.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: #e9e9e9;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3)
}
.flex-control-paging li a:hover {
    background: #333;
    background: #cce6f7
}
.flex-control-paging li a.flex-active {
    background: #000;
    background: #003f87;
    cursor: default
}
.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden
}
.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0
}
.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer
}
.flex-control-thumbs img:hover {
    opacity: 1
}
.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default
}
.flexslider li::before {
    content: none
}
#content form ul li {
    list-style-image: none;
    padding-top: 15px;
    padding-bottom: 15px
}
label {
    display: inline-block;
    position: relative;
    padding-left: 0px;
    margin-right: 15px;
    font-size: 1em
}
*:focus {
    outline: none
}
.contact_form textarea {
    padding: .3em
}
.contact_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
    list-style-image: none;
    background: none
}
.contact_form li:first-child,
li:last-child {
    border-bottom: none
}
.required_notification {
    color: #cc2d30;
    margin: 0;
    display: inline;
    float: right
}
.required_mark {
    color: #cc2d30;
    display: inline;
    float: left;
    margin-right: 5px
}
.contact_form label {
    width: 150px;
    margin-top: 3px
}
.contact_form input {
    height: 15px;
    width: 220px;
    padding: 5px 8px
}
.contact_form input,
.contact_form textarea {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 3px 10px #eee inset;
    border-radius: 2px
}
input[type="radio"] {
    border: none;
    box-shadow: none;
    border-radius: 0
}
input[type="checkbox"] {
    border: none;
    box-shadow: none;
    border-radius: 0
}
.contact_form input:focus,
.contact_form textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa
}
button.submit_green {
    background-color: #bad80a;
    border: none;
    color: #003f87;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    float: left
}
.facebook-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_facebook.png)
}
.twitter-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_twitter.png)
}
.youtube-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_youtube.png)
}
.linkedin-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_linkedin.png)
}
.googleplus-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_googleplus.png)
}
.flickr-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_flickr.png)
}
.instagram-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_instagram.png)
}
.tumblr-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_tumblr.png)
}
.foursquare-icon {
    background: url(https://www.wwu.edu/wwucommon/lite/images/media_foursquare.png)
}
.facebook-icon,
.twitter-icon,
.youtube-icon,
.linkedin-icon,
.googleplus-icon,
.flickr-icon,
.instagram-icon,
.tumblr-icon,
.foursquare-icon {
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 32px
}
a.twitter-icon,
a.facebook-icon,
a.youtube-icon,
a.linkedin-icon,
a.googleplus-icon,
a.flickr-icon,
a.instagram-icon,
a.tumblr-icon,
a.foursquare-icon {
    width: 32px;
    height: 32px
}
a[href^='mailto:'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/email.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.pdf'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/pdf.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.mp4'],
a[href$='.mp3'],
a[href$='.mov'],
a[href$='.flv'],
a[href$='.mpg'],
a[href$='.mpeg'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/mp4.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.ai'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/ai.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.dwt'],
a[href$='.css'],
a[href$='.xml'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/dw.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.psd'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/psd.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.eps'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/eps.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.id'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/id.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.wmv'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/wmv.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.swf'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/swf.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.doc'],
a[href$='.docx'],
a[href$='.dot'],
a[href$='.docm'],
a[href$='.dotx'],
a[href$='.dotm'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/word.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.ppt'],
a[href$='.pptx'],
a[href$='.pptm'],
a[href$='.potx'],
a[href$='.potm'],
a[href$='.ppam'],
a[href$='.ppsx'],
a[href$='.sldx'],
a[href$='.sldm'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/ppt.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}
a[href$='.xls'],
a[href$='.xlsx'],
a[href$='.xlsb'],
a[href$='.xltm'],
a[href$='.xlam'],
a[href$='.xltx'] {
    background: url("https://www.wwu.edu/wwucommon/lite/images/filetypeicons/xls.png") no-repeat right;
    overflow: visible;
    padding: 0 1.3em 3px 0
}

@media (max-width: 400px) {
    .call-out-box-right,
    .call-out-box-left,
    .call-out-box-center {
        float: none;
        clear: both;
        max-width: 100%;
        margin: 1em auto
    }
    .flexslider {
        padding: 0 0 0 0
    }
}
@media (max-width: 750px) {
    body {
        border: none
    }
    header[role="banner"],
    .body-wrapper,
    .main-nav,
    main,
    main>section,
    main>aside {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    h1 {
        margin: .6em 0 -.4em 0
    }
    main {
        padding-bottom: 1em
    }
    .main-nav,
    .body-wrapper {
        padding: 0
    }
    .alpha-content,
    .omega-content {
        margin-bottom: 1em
    }
    .main-nav {
        display: none
    }
    .main-nav li a {
        padding: 0 0 0 2em
    }
    .main-nav .site-nav a:hover,
    .main-nav .site-nav a:active,
    .main-nav .site-nav a:focus {
        background-color: #fff
    }
    .main-nav .is-accordion>a {
        margin-right: 34px
    }
    .social-media-nav {
        margin-top: 2em
    }
    .social-media-nav a {
        -webkit-transition: 0.33s color;
        -moz-transition: 0.33s color;
        -o-transition: 0.33s color;
        transition: 0.33s color;
        color: #003f87;
        border-bottom: solid 1px #fff;
        display: block;
        width: auto;
        text-decoration: none;
        font-size: 1em;
        background-color: #e9e9e9;
        display: inline;
        float: right;
        text-align: right
    }
    .social-media-nav a:hover {
        -webkit-transition: 0.1s color;
        -moz-transition: 0.1s color;
        -o-transition: 0.1s color;
        transition: 0.1s color;
        background-color: #f8f8f8
    }
    a.twitter-icon,
    a.facebook-icon,
    a.youtube-icon,
    a.linkedin-icon,
    a.googleplus-icon,
    a.flickr-icon,
    a.instagram-icon,
    a.tumblr-icon,
    a.foursquare-icon {
        width: .5em;
        height: 32px
    }
    footer {
        padding: 1.5em 0
    }
    p.western-copyright {
        text-align: center
    }
    subfooter .page-last-updated {
        text-align: center;
        float: none;
        margin-bottom: 2em
    }
    .contact_form textarea {
        width: 90%
    }
    header[role="banner"] {
        padding: 0;
        margin-bottom: 0
    }
    header[role="banner"] .western-logo {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        background: url("https://www.wwu.edu/wwucommon/lite/images/wwuhorizlogo.png") no-repeat;
        background-color: #003f87;
        width: 100%;
        height: 74px
    }
    header[role="banner"] .site-name {
        clear: left;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008fe9), color-stop(100%, #0070b6));
        background: -webkit-linear-gradient(top, #008fe9, #0070b6);
        background: -moz-linear-gradient(top, #008fe9, #0070b6);
        background: -o-linear-gradient(top, #008fe9, #0070b6);
        background: linear-gradient(top, #008fe9, #0070b6);
        background-image: none;
        z-index: -10;
        background-color: #0070b6;
        padding: 0 0 .5em 1.25em;
        font-family: Avenir, muli, verdana, arial, helvetica, geneva, sans-serif;
        font-size: 2.1em;
        padding: .75em 2em .75em 1em;
        line-height: 1.55;
        display: block
    }
    header[role="banner"] nav {
        -webkit-box-shadow: 0px 0px 5px #333;
        -moz-box-shadow: 0px 0px 5px #333;
        box-shadow: 0px 0px 5px #333;
        background: #4b689c;
        width: 44px;
        height: 138px;
        position: absolute;
        top: 0;
        right: 0
    }
    .western-quick-links {
        width: 44px;
        font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
    }
    .western-quick-links button {
        background-image: url("https://www.wwu.edu/wwucommon/lite/images/quick-links-icon.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        cursor: pointer;
        width: 44px;
        height: 44px;
        text-indent: -999em;
        border: none;
        margin-bottom: 3px;
    }
    .western-quick-links ul {
        -webkit-box-shadow: #333 0 0 8px;
        -moz-box-shadow: #333 0 0 8px;
        box-shadow: #333 0 0 8px;
        margin: 0;
        background-color: #fff;
        list-style-type: none;
        position: absolute;
        width: 25.6em;
        height: 7.4em;
        right: 44px;
        top: 0;
        overflow: hidden;
        display: none;
    }
    .western-quick-links ul li {
        text-align: center;
        display: inline-block;
        padding: 1.75em 0 0 1em
    }
    .western-quick-links ul li:not(:first-child):before {
        content: ""
    }
    .western-quick-links a {
        -webkit-transition: 1s color;
        -moz-transition: 1s color;
        -o-transition: 1s color;
        transition: 1s color;
        text-decoration: none;
        text-transform: none;
        padding: 0;
        color: #003f87
    }
    .western-quick-links a span:first-child {
        font-size: 2.3em;
        font-family: 'fontello';
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        padding: 0;
        font-variant: normal;
        text-transform: none;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s
    }
    .western-quick-links a span:last-child {
        display: block;
        font-size: 1em
    }
    .western-quick-links a:hover,
    .western-quick-links a:focus {
        color: #006b3f;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s
    }
    .western-quick-links a:hover span:first-child,
    .western-quick-links a:focus span:first-child {
        color: #bad80a
    }
    .western-search {
        top: 0;
        width: 44px
    }
    .western-search>button {
        background-image: url("https://www.wwu.edu/wwucommon/lite/images/search-icon.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        cursor: pointer;
        width: 44px;
        height: 44px;
        text-indent: -999em;
        border: none;
        margin-bottom: 3px
    }
    .western-search .western-search-widget {
        clear: right;
        position: absolute;
        top: 74px;
        right: 44px;
        z-index: 100;
        margin-top: 0
    }
    .mobile-main-nav {
        background-image: url("https://www.wwu.edu/wwucommon/lite/images/mobile-menu-icon.png");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        cursor: pointer;
        width: 44px;
        height: 44px;
        text-indent: -999em;
        border: none
    }
    .main-nav li a.is-active {
        padding-left: 1.5em;
        margin-left: 0em;
        margin-top: 0em
    }
    .main-nav li a.is-active:before {
        margin-top: 0;
        margin-left: -15px;
        height: 24px;
    }
    .table-flex {
        table-layout: fixed
    }
    .table-flex .cf:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0
    }
    .table-flex * html .cf {
        zoom: 1
    }
    .table-flex *:first-child+html .cf {
        zoom: 1
    }
    .table-flex table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0
    }
    .table-flex th,
    .table-flex td {
        margin: 0;
        vertical-align: top
    }
    .table-flex th {
        text-align: left
    }
    .table-flex table {
        display: block;
        position: relative;
        width: 100%
    }
    .table-flex thead {
        display: block;
        float: left
    }
    .table-flex tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }
    .table-flex thead tr {
        display: block
    }
    .table-flex th {
        display: block;
        text-align: right
    }
    .table-flex tbody tr {
        display: inline-block;
        vertical-align: top
    }
    .table-flex td {
        display: block;
        min-height: 1.25em;
        text-align: left
    }
    .table-flex th {
        border-bottom: 0;
        border-left: 0
    }
    .table-flex td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0
    }
    .table-flex tbody tr {
        border-left: 1px solid #babcbf
    }
    .table-flex th:last-child,
    .table-flex td:last-child {
        border-bottom: 1px solid #babcbf
    }
    figure,
    .fig-left,
    .fig-right {
        margin: 0 auto;
        float: none;
        padding-left: 0;
        padding-right: 0
    }
}
@media (min-width: 750px) {
    header[role="banner"],
    .body-wrapper {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: left
    }
    .body-wrapper {
        padding: 1em 0
    }
    main {
        padding-right: 1em
    }
    .main-nav {
        float: left;
        width: 25%;
        margin-left: 0%;
        margin-right: -25%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-full-page>section {
        float: left;
        width: 75%;
        margin-left: 25%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-sidebar {
        overflow: auto
    }
    .layout-sidebar>section {
        float: left;
        width: 50%;
        margin-left: 25%;
        margin-right: -75%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-sidebar>aside {
        float: left;
        width: 25%;
        margin-left: 75%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .alpha-content,
    .omega-content {
        float: left;
        width: 75%;
        margin-left: 25%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both;
        margin-bottom: 1em
    }
    .layout-two-column {
        overflow: auto
    }
    .layout-two-column .one-of-two-column {
        float: left;
        width: 37%;
        margin-left: 25%;
        margin-right: -62%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    .layout-two-column .two-of-two-column {
        float: left;
        width: 37%;
        margin-left: 62.5%;
        margin-right: -99.5%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-three-column {
        overflow: auto
    }
    .layout-three-column .one-of-three-column {
        float: left;
        width: 24.11111%;
        margin-left: 25%;
        margin-right: -49.11111%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    .layout-three-column .two-of-three-column {
        float: left;
        width: 24.11111%;
        margin-left: 50%;
        margin-right: -74.11111%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-three-column .three-of-three-column {
        float: left;
        width: 24.11111%;
        margin-left: 75%;
        margin-right: -99.11111%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .main-nav .site-nav a {
        padding: 4px 2em 1px 2em
    }
    .main-nav .is-accordion>a {
        margin-right: 35px
    }
    header[role="banner"] {
        height: 110px;
        margin-top: 5em;
        border: solid 1em white;
        background-color: white;
        background-position: 100% 0
    }
    header[role="banner"] nav {
        position: relative;
        top: -6.7em;
        right: -2em;
        width: 100%
    }
    header[role="banner"] .western-logo {
        height: 125px;
        width: 220px;
        background-color: #003f87;
        background-image: url("https://www.wwu.edu/wwucommon/lite/images/western-logo.png");
        background-repeat: no-repeat;
        background-position: 50% 25%;
        float: left;
        position: relative;
        margin-top: -75px;
        left: 1.5em;
        z-index: 999;
        -webkit-box-shadow: #111 0 0 4px;
        -moz-box-shadow: #111 0 0 4px;
        box-shadow: #111 0 0 4px
    }
    header[role="banner"] .site-name {
        font-family: Avenir, muli, verdana, arial, helvetica, geneva, sans-serif;
        font-size: 3em;
        color: white;
        text-align: right;
        clear: both;
        position: relative;
        right: 1em;
        bottom: -35px;
        line-height: 35px;
        text-shadow: #111 0 0 5px, #111 0 0 3px, #111 0 0 2px
    }
    .western-search {
        top: -4em;
        display: block;
        position: absolute;
        right: 0
    }
    .western-search>button {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: 0;
        font: 0/0 a;
        text-shadow: none;
        color: transparent;
        height: 44px;
        width: 44px;
        cursor: pointer;
        background-color: #0070b6;
        background: url("https://www.wwu.edu/wwucommon/lite/images/light-blue-search-icon.png") no-repeat;
        background-size: cover
    }
    .western-search .western-search-widget {
        position: absolute;
        top: 44px;
        right: 0;
        margin-top: 0
    }
    .social-media-nav ul {
        display: block;
        text-align: left;
        margin-top: 1em
    }
    .social-media-nav li {
        display: inline;
        padding: .5em;
        font-size: 1.3em
    }
    .social-media-nav li:first-child {
        padding-left: 0em
    }
    .social-media-nav a {
        color: #0070b6
    }
    .western-quick-links {
        position: absolute;
        top: -23px;
        right: 9.3%
    }
    .western-quick-links button {
        display: none
    }
    .western-quick-links ul {
        margin: 0;
        padding: 0
    }
    .western-quick-links li {
        display: inline-block;
        font-family: muli, verdana, arial, helvetica, geneva, sans-serif;
        padding-left: .5em;
        font-size: 1.3em
    }
    .western-quick-links li a {
        text-decoration: none;
        padding-left: 6px;
        color: #003f87
    }
    .western-quick-links li a span:first-child {
        display: none
    }
    .western-quick-links li a:hover,
    .western-quick-links li a:focus {
        color: #0070b6
    }
    .western-quick-links li:not(:first-child):before {
        content: "\00B7 \0020 "
    }
    .mobile-main-nav {
        display: none
    }
    footer {
        padding: 2em 0
    }
    footer .page-last-updated {
        float: left
    }
    footer .western-copyright {
        float: right
    }
}
/*
@media (min-width: 750px) and (max-width: 950px) {
    .layout-sidebar>section,
    .layout-sidebar>aside {
        float: left;
        width: 66.66667%;
        margin-left: 33.33333%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    .layout-sidebar>aside {
        margin-top: 2em
    }
    header[role="banner"],
    .body-wrapper {
        float: left;
        width: 100%;
        margin-left: 0%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-full-page>section {
        float: left;
        width: 66.66667%;
        margin-left: 33.33333%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .body-wrapper {
        padding: 1em 0
    }
    .main-nav {
        float: left;
        width: 33.33333%;
        margin-left: 0%;
        margin-right: -33.33333%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .alpha-content,
    .omega-content {
        float: left;
        width: 66.66667%;
        margin-left: 33.33333%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    .layout-two-column .one-of-two-column {
        float: left;
        width: 33.33333%;
        margin-left: 33.33333%;
        margin-right: -66.66667%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    .layout-two-column .two-of-two-column {
        float: left;
        width: 33.33333%;
        margin-left: 66.66667%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-three-column .one-of-three-column {
        float: left;
        width: 33.33333%;
        margin-left: 33.33333%;
        margin-right: -66.66667%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
    .layout-three-column .two-of-three-column {
        float: left;
        width: 33.33333%;
        margin-left: 66.66667%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible
    }
    .layout-three-column .three-of-three-column {
        float: left;
        width: 66.66667%;
        margin-left: 33.33333%;
        margin-right: -100%;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        word-wrap: break-word;
        *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
        _display: inline;
        _overflow: hidden;
        _overflow-y: visible;
        clear: both
    }
}
*/
